@font-face {
	font-family: NITW;
	src: url('../fonts/Nitw.otf');
}

html {
	cursor: url('../cursor/arrow.cur'), default;
}

body {
	font-family: NITW;
	background: linear-gradient(135deg,#3332ad,#3598be);
	cursor: url('../cursor/arrow.cur'), default;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: #fff;
}

header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	z-index: 10;
	background: #3332ad;
}

header .logo {
	position: relative;
	font-size: 40px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

header .navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0;
}

header .navigation li {
	list-style: none;
	margin: 0 20px;
}

header .navigation li a {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 5px;
}

header .navigation li a:hover {
	color: #fef778;
}

.footer {
	position: fixed;
	left: 0;
	bottom: -15px;
	width: 100%;
	background-color: #3332ad;
	color: white;
	text-align: center;
	font-size: 20px;
}

@media (max-width: 991px) {
	header {
		padding: 10px 20px;
		flex-direction: column;
	}
 }